.card {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

li {
  margin: 1rem;
}

.cardimage {
  width: 250px;
  border-radius: 10px;
}

.cardtitle {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  transition: 0.5s;
  border-radius: 0.75rem;
  margin-top: 0.3rem;
}
