$destac-color: #13a200;
$primary-color: #ededed;
$second-color: #434343;

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
}

body {
  background: #0a0a0a;
  // background: white;
}

h1,
h2,
h3,
h4,
h5 {
  color: $primary-color;
  margin: 1rem;
}

form {
  align-items: center;
  text-align: center;
  justify-content: center;

  label {
    color: $second-color;
    font-size: 1.5em;
  }

  input {
    width: 20rem;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid $second-color;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  .form__input-text:hover {
    border: 2px solid $destac-color;
  }

  .form__input-number:hover {
    border: 2px solid $destac-color;
  }

  .form__submit {
    background-color: $destac-color;
    border: 3px solid $destac-color;
    width: 320px;
    height: 45px;
  }

  .form__label {
    font-size: 1.5em;
    color: $primary-color;
  }
}
